.container {
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: $mobile) {
    width: 320px;
    padding: 0 20px;
  }
  @media screen and (min-width: $tablet) {
    width: 768px;
    padding: 0 32px;
  }
  @media screen and (min-width: $desktop) {
    width: 1280px;
    padding: 0 32px;
  }
}
