.container {
  margin: 0 auto;

  @media screen and (min-width: 320px) {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

// new container-gallery
ul.gallery {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1280px) {
    justify-content: flex-start;
  }
}

.container-gallery {

  @media screen and (max-width: 767px) {
      display: grid;
      justify-content: center;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      padding-top: 20px;
      padding-bottom: 40px;
    }

    @media screen and (min-width: 768px) {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        padding-top: 60px;
        padding-bottom: 50px;
      }

    @media screen and (min-width: 1280px) {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 16px;
        grid-row-gap: 32px;
        padding-top: 60px;
        padding-bottom: 50px;
      }
}