<section>
  <ul class="gallery">

    <!-- <li class="card__item" id="615777">
      <img class="card__image" src="./images/logo.svg" width="100" height="100" alt="poster">
    </li>
    <li class="card__item" id="747188">
      <img class="card__image" src="./images/logo.svg" width="100" height="100" alt="poster">
    </li>
    <li class="card__item" id="315162">
      <img class="card__image" src="./images/logo.svg" width="100" height="100" alt="poster">
    </li>

    <li class="card__item" id="916224">
      <img class="card__image" src="./images/logo.svg" width="100" height="100" alt="poster">
    </li>
    <li class="card__item" id="458156">
      <img class="card__image" src="./images/logo.svg" width="100" height="100" alt="poster">
    </li>
    <li class="card__item" id="312221">
      <img class="card__image" src="./images/logo.svg" width="100" height="100" alt="poster">
    </li> -->

  </ul>
</section>