<header class="header">
  <div class="header-container">

   
    
    <nav class="header-nav">

      <a class="header-logo" href="index.html" alt="logo"
        ><svg class="nav-icon-logo" width="24" height="24px">
        <use href="./images/icons.svg#icon-logo"></use>
        </svg><span class="header-logo-text">Filmoteka</span>
      </a>
      

      <ul class="header-menu">
        <li class="header-menu-list">
          <a href="index.html" class="menu-list-name menu-list-name-active js-home-btn">home</a>
        </li>
        <li class="header-menu-list">
          <a href="./library.html" class="menu-list-name  js-my-library-btn">my library</a>
        </li>
      </ul>
    </nav>
       <div>
        <ul class="header-registration-menu">
          <li><a href="#" class="registration-menu-sing">Sign in</a></li>
          <li><a href="#" class="registration-menu-log">LOG in</a></li>
        </ul>
      </div>
    </div>
 
    </div>
  </div>
</header>

