<div>
    <a class="logo" href="./">
        <div class="logo__wrap">
            <span class="logo__icon">
                <svg class="logo__icon--first" width="24" height="23">
                    <use href="./image/sprite.svg#logo"></use>
                </svg>
                <svg class="logo__icon--second" width="24" height="23">
                    <use href="./image/sprite.svg#logo"></use>
                </svg>
            </span>
        </div>
        <span class="logo__text">Filmoteka</span>
    </a>
</div>