<form class="blockHome" name="blockHome" autocomplete="on" novalidate>
  <div class="blockHome-search-menu">
    <div class="blockHome-search">
      <label class="blockHome-label">
        <!-- Movie search -->
        <input
          type="text"
          class="header-search"
          placeholder="Movie search"
          name="textSearch"
          autofocus
        />
      </label>
      <button class="header-search-btn" type="submit" name="buttonSearch">
        <svg class="header-search-img">
          <use href="./images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </div>
    <div class="header-search-resultNotSuccess visibleFlag">
      <p class="notification is-hidden">
        Search result not successful. Enter the correct movie name and try
        again.
      </p>
    </div>
  </div>
</form>
