<div class="team-backdrop is-hidden" data-backdrop-team>
  <div class="team-modal" data-modal-team>
    <button class="team-modal__button" data-close-modal-team>
      <svg width="14" height="14">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div>
      <svg class="team-modal__logolight">
        <use href="./images/icons.svg#icon-UpperCode-light"></use>
      </svg>
      <svg class="team-modal__logodark">
        <use href="./images/icons.svg#icon-UpperCode-dark"></use>
      </svg>
    </div>
    <div class="team-modal__list">
      <ul class="team-modal__members">
        <li class="team-modal__card">
          <img
            class="team-modal__photo"
            srcset="
              ./images/team/mykhailo-khodak-1x.jpg 1x,
              ./images/team/mykhailo-khodak-2x.jpg 2x
            "
            width="228"
            src="./images/team/mykhailo-khodak-1x.jpg"
            alt="Photo of a team member"
          />
          <div class="team-modal__member">
            <h3 class="team-modal__name">Mykhailo Khodak</h3>
            <p class="team-modal__position">Team Lead</p>
          </div>
          <ul class="team-modal__contacts">
            <li>
              <a href="https://t.me/werewolmda" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="mailto:werewolfdevlearn@gmail.com"
                class="team-modal__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Email"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team-modal__card">
          <img
            class="team-modal__photo"
            srcset="
              ./images/team/tkachuk-tetiana-1x.jpg 1x,
              ./images/team/tkachuk-tetiana-2x.jpg 2x
            "
            sizes="(max-width: 1200px) 1200px, (max-width: 768px) 768px, (max-width: 480px) 480px, 100vw"
            src="./images/team/tkachuk-tetiana-1x.jpg"
            alt="Photo of a team member"
          />
          <div class="team-modal__member">
            <h3 class="team-modal__name">Tetiana Tkachuk</h3>
            <p class="team-modal__position">Scrum Master</p>
          </div>
          <ul class="team-modal__contacts">
            <li>
              <a href="https://wa.me/+380679002416" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Whatsapp"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://t.me/Tkachuk_Tetiana" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="mailto:pokrovka100@gmail.com" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Email"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team-modal__card">
          <img
            class="team-modal__photo"
            srcset="
              ./images/team/dmytro-shabatyn-1x.jpg 1x,
              ./images/team/dmytro-shabatyn-2x.jpg 2x
            "
            sizes="(max-width: 1200px) 1200px, (max-width: 768px) 768px, (max-width: 480px) 480px, 100vw"
            src="./images/team/dmytro-shabatyn-1x.jpg"
            alt="Photo of a team member"
          />
          <div class="team-modal__member">
            <h3 class="team-modal__name">Dmytro Shabatyn</h3>
            <p class="team-modal__position">Developer</p>
          </div>
          <ul class="team-modal__contacts">
            <li>
              <a href="https://t.me/Dmitriy_shig" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="mailto:dmitriyshabatyn@gmail.com"
                class="team-modal__link"
              >
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Email"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team-modal__card">
          <img
            class="team-modal__photo"
            srcset="
              ./images/team/serhii-bielka-1x.jpg 1x,
              ./images/team/serhii-bielka-2x.jpg 2x
            "
            sizes="(max-width: 1200px) 1200px, (max-width: 768px) 768px, (max-width: 480px) 480px, 100vw"
            src="./images/team/serhii-bielka-1x.jpg"
            alt="Photo of a team member"
          />
          <div class="team-modal__member">
            <h3 class="team-modal__name">Serhii Bielka</h3>
            <p class="team-modal__position">Developer</p>
          </div>
          <ul class="team-modal__contacts">
            <li>
              <a href="https://t.me/BSerhi" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="mailto:belka.srg.it@gmail.com" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Email"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team-modal__card">
          <img
            class="team-modal__photo"
            srcset="
              ./images/team/oksana-drobakha-1x.jpg 1x,
              ./images/team/oksana-drobakha-2x.jpg 2x
            "
            sizes="(max-width: 1200px) 1200px, (max-width: 768px) 768px, (max-width: 480px) 480px, 100vw"
            src="./images/team/oksana-drobakha-1x.jpg"
            alt="Photo of a team member"
          />
          <div class="team-modal__member">
            <h3 class="team-modal__name">Oksana Drobakha</h3>
            <p class="team-modal__position">Developer</p>
          </div>
          <ul class="team-modal__contacts">
            <li>
              <a href="https://wa.me/+971581755761" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Whatsapp"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://t.me/+380636249784" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="mailto:drobakha.it@gmail.com" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Email"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team-modal__card">
          <img
            class="team-modal__photo"
            srcset="
              ./images/team/ivan-mutsko-1x.jpg 1x,
              ./images/team/ivan-mutsko-2x.jpg 2x
            "
            sizes="(max-width: 1200px) 1200px, (max-width: 768px) 768px, (max-width: 480px) 480px, 100vw"
            src="./images/team/ivan-mutsko-1x.jpg"
            alt="Photo of a team member"
          />
          <div class="team-modal__member">
            <h3 class="team-modal__name">Ivan Mutsko</h3>
            <p class="team-modal__position">Developer</p>
          </div>
          <ul class="team-modal__contacts">
            <li>
              <a href="https://wa.me/+380965161393" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Whatsapp"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://t.me/aszxdc95" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="mailto:imucko1996@gmail.com" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Email"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team-modal__card">
          <img
            class="team-modal__photo"
            srcset="
              ./images/team/hanna-kudriashova-1x.jpg 1x,
              ./images/team/hanna-kudriashova-2x.jpg 2x
            "
            sizes="(max-width: 1200px) 1200px, (max-width: 768px) 768px, (max-width: 480px) 480px, 100vw"
            src="./images/team/hanna-kudriashova-1x.jpg"
            alt="Photo of a team member"
          />
          <div class="team-modal__member">
            <h3 class="team-modal__name">Hanna Kudriashova</h3>
            <p class="team-modal__position">Developer</p>
          </div>
          <ul class="team-modal__contacts">
            <li>
              <a href="https://wa.me/+380952212962" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Whatsapp"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://t.me/hannakud" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="mailto:anyarasp@gmail.com" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Email"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team-modal__card">
          <img
            class="team-modal__photo"
            srcset="
              ./images/team/pavlo-lyalkov-1x.jpg 1x,
              ./images/team/pavlo-lyalkov-2x.jpg 2x
            "
            sizes="(max-width: 1200px) 1200px, (max-width: 768px) 768px, (max-width: 480px) 480px, 100vw"
            src="./images/team/pavlo-lyalkov-1x.jpg"
            alt="Photo of a team member"
          />
          <div class="team-modal__member">
            <h3 class="team-modal__name">Pavlo Lyalkov</h3>
            <p class="team-modal__position">Developer</p>
          </div>
          <ul class="team-modal__contacts">
            <li>
              <a href="https://t.me/malberee" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="mailto:pavellyalkov45@gmail.com"
                class="team-modal__link"
              >
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Email"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team-modal__card">
          <img
            class="team-modal__photo"
            srcset="
              ./images/team/anatoliy-milenin-1x.jpg 1x,
              ./images/team/anatoliy-milenin-2x.jpg 2x
            "
            sizes="(max-width: 1200px) 1200px, (max-width: 768px) 768px, (max-width: 480px) 480px, 100vw"
            src="./images/team/anatoliy-milenin-1x.jpg"
            alt="Photo of a team member"
          />
          <div class="team-modal__member">
            <h3 class="team-modal__name">Anatoliy Milenin</h3>
            <p class="team-modal__position">Developer</p>
          </div>
          <ul class="team-modal__contacts">
            <li>
              <a href="https://wa.me/+380666240598" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Whatsapp"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://t.me/+380666240598" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="mailto:anatolymv@gmail.com" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Email"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team-modal__card">
          <img
            class="team-modal__photo"
            srcset="
              ./images/team/taras-kachmar-1x.jpg 1x,
              ./images/team/taras-kachmar-2x.jpg 2x
            "
            sizes="(max-width: 1200px) 1200px, (max-width: 768px) 768px, (max-width: 480px) 480px, 100vw"
            src="./images/team/taras-kachmar-1x.jpg"
            alt="Photo of a team member"
          />
          <div class="team-modal__member">
            <h3 class="team-modal__name">Taras Kachmar</h3>
            <p class="team-modal__position">Developer</p>
          </div>
          <ul class="team-modal__contacts">
            <li>
              <a href="https://wa.me/+380631753008" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Whatsapp"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://t.me/+380631753008" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="mailto:kachmar.taras@gmail.com" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Email"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team-modal__card">
          <img
            class="team-modal__photo"
            srcset="
              ./images/team/serhii-maslov-1x.jpg 1x,
              ./images/team/serhii-maslov-2x.jpg 2x
            "
            sizes="(max-width: 1200px) 1200px, (max-width: 768px) 768px, (max-width: 480px) 480px, 100vw"
            src="./images/team/serhii-maslov-1x.jpg"
            alt="Photo of a team member"
          />
          <div class="team-modal__member">
            <h3 class="team-modal__name">Serhii Maslov</h3>
            <p class="team-modal__position">Developer</p>
          </div>
          <ul class="team-modal__contacts">
            <li>
              <a href="https://wa.me/+380663417979" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Whatsapp"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://t.me/+380663417979" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="mailto:maslov.ser.vas@gmail.com"
                class="team-modal__link"
              >
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Email"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team-modal__card">
          <img
            class="team-modal__photo"
            srcset="
              ./images/team/victor-1x.jpg 1x,
              ./images/team/victor-2x.jpg 2x
            "
            sizes="(max-width: 1200px) 1200px, (max-width: 768px) 768px, (max-width: 480px) 480px, 100vw"
            src="./images/team/victor-1x.jpg"
            alt="Photo of a team member"
          />
          <div class="team-modal__member">
            <h3 class="team-modal__name">Victor Podhaniuk</h3>
            <p class="team-modal__position">Developer</p>
          </div>
          <ul class="team-modal__contacts">
            <li>
              <a href="https://t.me/+380992597620" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="mailto:thevipo777@gmail.com" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Email"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team-modal__card">
          <img
            class="team-modal__photo"
            srcset="
              ./images/team/andrey-konash-1x.jpg 1x,
              ./images/team/andrey-konash-2x.jpg 2x
            "
            sizes="(max-width: 1200px) 1200px, (max-width: 768px) 768px, (max-width: 480px) 480px, 100vw"
            src="./images/team/andrey-konash-1x.jpg"
            alt="Photo of a team member"
          />
          <div class="team-modal__member">
            <h3 class="team-modal__name">Andrey Konash</h3>
            <p class="team-modal__position">Developer</p>
          </div>
          <ul class="team-modal__contacts">
            <li>
              <a href="https://wa.me/+380637574565" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Whatsapp"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://t.me/+380637574565" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="mailto:konash.andrey@gmail.com" class="team-modal__link">
                <svg
                  viewBox="0 0 32 32"
                  class="team-modal__icon"
                  width="16"
                  height="16"
                >
                  <use href="./images/icons.svg#icon-Email"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
