.team-modal {
  background: #161622;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.team-modal__button {
  fill: #ffffff;
}

.team-modal__card {
  background-color: #1f1f29;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.team-modal__name {
  color: #ffffff;
}

.team-modal__position {
  color: #ffffff;
}

.team-modal__contacts {
  color: #ffffff;
}

.team-modal__link {
  border-color: #ffffff;
}

.theme-change[data-theme='dark'] {
  display: none;
}

.theme-change[data-theme='light'] {
  display: block;
}
