.team-modal {
  background: rgba(229, 229, 229, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-modal__card {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-modal__name {
  color: #000000;
}

.team-modal__position {
  color: #000000;
}

.team-modal__contacts {
  color: #000000;
}

.team-modal__link {
  border-color: #000000;
}

.theme-change[data-theme='light'] {
  display: none;
}

.theme-change[data-theme='dark'] {
  display: block;
}
