.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 48px 20px 40px;
  width: calc(100% - 2 * 20px);

  @media screen and (min-width: 320px) {
    max-width: 280px;
  }

  @media screen and (min-width: 768px) {
    padding: 40px 36px 40px 36px;
    max-width: 704px;
    // height: 552px;
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    padding: 40px 12px;
    max-width: 806px;
    // height: 558px;
  }

  transform: translate(-50%, -50%) scale(1, 1);

  border-radius: 4px;
  background-color: #ffffff;
  transition: transform 250ms;

  &__poster-wrap {
    @media screen and (min-width: 320px) {
      // max-width: 300px;
    }

    @media screen and (min-width: 768px) {
      margin-right: 36px;
      min-width: 264px;
    }

    @media screen and (min-width: 1280px) {
      margin-right: 16px;
      min-width: 375px;
    }
  }

  &__poster {
    border-radius: 5px;
  }

  &__info-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin-top: 20px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      margin-top: 0;
    }
  }

  %text-style {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    @media screen and (min-width: 1280px) {
      font-size: 12px;
    }
  }

  &__film-info {
    margin-top: 20px;

    @extend %text-style;

    &-row {
      display: flex;
      width: 100%;
      align-items: center;
    }

    &-title {
      min-width: 100px;

      @media screen and (min-width: 1280px) {
        min-width: 150px;
      }

      color: #8c8c8c;
    }
  }

  %vote-style {
    display: inline-flex;
    justify-content: center;

    padding-top: 2px;
    width: 36px;
    border-radius: 5px;
  }

  &__vote-average {
    @extend %vote-style;

    background-color: #ff6b01;
    color: #ffffff;
  }

  &__vote-count {
    @extend %vote-style;

    background-color: #f7f7f7;
  }

  &__film-about {
    margin-top: 20px;

    @extend %text-style;

    &-title {
      text-transform: uppercase;
    }
  }

  &__film-overview {
    @extend %text-style;

    margin-top: 8px;
    line-height: 1.67;
  }
}

.persentage {
  display: inline-flex;

  &__star {
    width: 7px;
    height: 6px;

    @media screen and (min-width: 768px) {
      width: 12px;
      height: 8px;
    }

    border-radius: 3px;
    margin-right: 2px;
    border: 1px solid #ff6b01;

    &-transp {
      border: 1px solid transparent;
      background-color: transparent;
    }
  }

  &__star-full {
    background-color: #ff6b01;
  }
}

// Buttons
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-color: transparent;
  transition: fill 250ms;

  &:hover,
  &:focus {
    fill: #ff001b;
  }
}

%btn-styles {
  padding: 2px 10px 0 10px;
  width: 100%;
  min-height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #000000;
  border-radius: 5px;
  background-color: transparent;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  transition: background-color 250ms, color 250ms, fill 250ms;
}

.btn {
  &__wrap {
    margin-top: 20px;
    display: flex;
    gap: 20px;
  }

  &__add {
    @extend %btn-styles;

    &:hover,
    &:focus {
      background-color: #ff6b01;
      border-color: #ff6b01;
      color: #ffffff;
    }
  }

  &__remove {
    @extend %btn-styles;

    &:hover,
    &:focus {
      background-color: #ff6b01;
      border-color: #ff6b01;
      color: #ffffff;
    }
  }

  &__trailer {
    @extend %btn-styles;

    margin-top: 20px;

    &:hover,
    &:focus {
      background-color: #ff6b01;
      border-color: #ff6b01;
      color: #ffffff;
      fill: currentColor;
    }

    &:disabled {
      color: #000000;
      cursor: default;

      &:hover,
      &:focus {
        background-color: #ffffff;
        border-color: #000000;
        color: #000000;
      }
    }

    &-icon {
      margin-right: 8px;
    }
  }
}

#video-player {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);
}
