div.tui-pagination {
  height: 40px;
  margin-bottom: 60px;
  margin-top: 0;
}

div.tui-pagination .tui-page-btn {
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  color: #000000;
  display: inline-flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.33;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 767px) {
    height: 35px;
    width: 35px;
  }
  &.tui-last {
    background-color: #f7f7f7;
  }
  &.tui-next {
    background-color: #f7f7f7;
  }
  &.tui-prev {
    background-color: #f7f7f7;
  }
  &.tui-first {
    background-color: #f7f7f7;
  }
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #ff6b08;
    outline: none;
    border: none;
  }
}

div.tui-pagination .tui-is-selected,
div.tui-pagination strong {
  background-color: #ff6b08;
  color: #ffffff;
}

div.tui-pagination .tui-first-child.tui-is-selected {
  border-left: none;
}

div.tui-pagination .tui-last-child.tui-is-selected {
  border-right: none;
}

div.tui-pagination .tui-ico-next,
div.tui-pagination .tui-ico-last,
div.tui-pagination .tui-ico-prev,
div.tui-pagination .tui-ico-first,
div.tui-pagination .tui-ico-ellip {
  background-image: none;
}

div.tui-pagination .tui-page-btn.tui-next::after {
  content: '›';
  position: absolute;
  font-size: 25px;
  font-weight: 400;
  color: inherit;
}

div.tui-pagination .tui-page-btn.tui-last::after {
  content: '»';
  position: absolute;
  font-size: 25px;
  font-weight: 400;
  color: inherit;
}

div.tui-pagination .tui-page-btn.tui-prev::after {
  content: '‹';
  position: absolute;
  font-size: 25px;
  font-weight: 400;
  color: inherit;
}

div.tui-pagination .tui-page-btn.tui-first::after {
  content: '«';
  position: absolute;
  font-size: 25px;
  font-weight: 400;
  color: inherit;
}

div.tui-pagination .tui-prev-is-ellip::after,
div.tui-pagination .tui-next-is-ellip::after {
  content: '...';
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  color: inherit;
}