// body {
// 	background: linear-gradient(135deg, #71b7e6, #9b59b6);
// 	margin: 0;
// 	height: 100vh;
// 	font-family: 'Roboto', sans-serif;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }

.auth-list {
  padding: 0;
  display: flex;
  gap: 30px;
  list-style: none;
}

.signup-link,
.login-link {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #fff;

  &:hover {
    color: #71b7e6;
  }
}

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
}

.auth__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000030;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__wrap {
  position: relative;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  z-index: 100;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 20px;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    pointer-events: none;
    width: 15px;
    height: 15px;
  }
}

.form__title {
  text-align: center;
}

.auth__form {
  width: 300px;
  text-align: center;
}

.form__input-group {
  position: relative;
  margin-bottom: 20px;
}

// .form__message {
// 	color: #009e1a;
// 	margin-bottom: 10px;
// 	text-align: center;
// }
.login-form__message-error,
.signup-form__message-error {
  margin-bottom: 10px;
  text-align: center;
  color: #f82222;
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px 10px 38px;
  border-radius: 5px;
  border: 1px solid #ccc;

  &:focus {
    outline: none;
    border-color: #f06400;
  }

  &:focus + svg {
    fill: #f06400;
  }
}

.form__input-error {
  border-color: #f82222;
}

.form__input-error-message {
  color: #f82222;
}

.form__btn-submit {
  width: 200px;
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border: transparent;
  border-radius: 5px;
  background-color: #ff6b02;
  color: #fff;
  // filter: drop-shadow(0px 0px 8px rgba(255, 107, 1, 0.6));

  transition: background-color 150ms linear, filter 150ms linear;

  &:hover,
  &:focus {
    filter: drop-shadow(0px 0px 8px rgba(255, 107, 1, 0.6));
    background-color: #f06400;
  }
}

.form__text {
}

.form__link {
  text-decoration: none;
  color: #ff6b02;
}

.email-icon,
.password-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  fill: #ccc;
}

.show-password-icon {
  position: absolute;
  cursor: pointer;
  right: 10px;
  width: 18px;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
  fill: #ccc;

  use {
    pointer-events: none;
  }
}

.is-hidden {
  display: none;
}
