.card-item {
    display: block;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 3px 0px #00000033,
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__image {
    display: block;
    width: 395px;
    height: 574px;
    object-fit: cover;
    margin-bottom: 12px;
    border-radius: 5px;
}

.card__link {
    display: block;
    text-decoration: none;
    transition: transform 250ms linear;

    &:hover,
    &:focus {
        transform: scale(1.05);
    }
}

.card__info {
    display: flex;
    align-items: baseline;
}

.card__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    text-transform: uppercase;
    color: #000000;
    width: 395px;
}

.card__genres {
    justify-content: center;
    color: #FF6B08;
    max-width: 345px;
}

.card__rating {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    border-radius: 5px;
    color: #ffffff;
    background-color: #FF6B08;
    text-align: center;
    width: 40px;
    height: 20px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
// Для тимчасової сітки
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}