.card-item {
    display: block;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 3px 0px #00000033,
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__image {
    display: block;
    height: 100%;
    object-fit: cover;
    margin-bottom: 8px;
    border-radius: 5px;
    height: 402px;
    width: 280px;

    @media screen and (min-width: 768px) {
        height: 455px;
        width: 336px;
    }

    @media screen and (min-width: 1280px) {
        height: 574px;
        width: 395px;
        margin-bottom: 12px;
    }
}

.card__container {
    display: block;
    text-decoration: none;
    transition: transform 250ms linear;
    overflow: hidden;
    width: 280px;

    @media screen and (min-width: 768px) {
        width: 336px;
    }

    @media screen and (min-width: 1280px) {
        width: 395px;
    }

    &:hover,
    &:focus {
        transform: scale(1.03);
    }
}

.card__info {
    display: flex;
    align-items: baseline;
}

.card__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(16 / 12);
    text-transform: uppercase;
    color: #000000;

    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: calc(24 / 20);
    }
}

.card__genres {
    font-size: 12px;
    line-height: calc(16 / 12);
    justify-content: center;
    color: #FF6B08;
    max-width: 290px;

    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: calc(24 / 20);
        max-width: 345px;
    }
}

.card__rating {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    border-radius: 5px;
    color: #ffffff;
    background-color: #FF6B08;
    text-align: center;
    width: 36px;
    height: 16px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 1280px) {
        width: 40px;
        height: 20px;
    }
}

.card__wrap {
    max-width: 100%;
    overflow: hidden;
}

.isActive:hover {
    display: flex;
    width: 200%;
    animation-name: cardNameSlider;
    animation-iteration-count: once;
    animation-timing-function: ease-in-out;
    animation-duration: 7500ms;
}

.card__wrap h2 {
    white-space: nowrap;
    width: 100%;
}

@keyframes cardNameSlider {
    0% {
        transform: translateX(0px);
    }

    75% {
        transform: translateX(calc((100% - 130%)));
    }

    90% {
        transform: translateX(calc((100% - 130%)));
    }

    100% {
        transform: translateX(0px);
    }
}