.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  padding-top: 29px;
  padding-bottom: 29px;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
  background-color: #f7f7f7;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.18;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 29px;
    padding-bottom: 29px;
  }
}

.container-footer {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.footer-info {
  margin-top: 10px;
  margin-left: 4px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.icon-heart {
  margin-left: 5px;
  margin-right: 5px;
  width: 14px;
  height: 13px;
  fill: #ff6b08;
}

.footer-btn {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: underline;
  cursor: pointer;
  color: #545454;

  &:hover,
  &:focus {
    color: #ff6b08;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.18;
  }
}
