.decor {
  background-image: url('../images/headerImg/abstract-background-with-red-lines-320-1x.jpg');

  margin: 0 auto;
  padding: 40px 20px 40px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  @media (min-resolution: 2dppx) {
    .decor {
      background-image: url('../images/headerImg/abstract-background-with-red-lines-320-2x.jpg');
    }
  }

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 40px 32px 44px 32px;

    background-image: url('../images/headerImg/abstract-background-with-red-lines-768-1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-resolution: 2dppx) {
      .decor {
        background-image: url('../images/headerImg/abstract-background-with-red-lines-768-2x.jpg');
      }
    }
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding: 40px 32px 40px 32px;

    background-image: url('../images/headerImg/abstract-background-with-red-lines-1280-1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-resolution: 2dppx) {
      .decor {
        background-image: url('../images/headerImg/abstract-background-with-red-lines-1280-2x.jpg');
      }
    }
  }
}

.header {
  @media screen and (min-width: 768px) {
    display: flex;

    width: 704px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;

    width: 1216px;
  }
}

//---------- day and night-----------------------------

.theme-change {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 250ms linear;
}
.theme-change__light {
  position: absolute;
  z-index: 10;
  right: 32px;
  top: 14px;
}
.theme-change__dark {
  position: absolute;
  z-index: 0;
  right: 32px;
  top: 14px;
}

//--------------------------registration btn------------------------
.registrationBtn-container {
  position: absolute;
  right: 12px;
  bottom: 10px;

  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;

  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;

  color: #8c8c8c;

  @media screen and (min-width: 768px) {
    right: 22px;
    bottom: 18px;
  }
  @media screen and (min-width: 1280px) {
    right: 32px;
    bottom: 28px;
  }
}

//--------------------------------hover--------

.registration-menu-singBtn:hover,
.registration-menu-singBtn:focus {
  color: #ff001b;
}

.registration-menu-logBtn:hover,
.registration-menu-logBtn:focus {
  color: #ff001b;
}

.registration-menu-singBtn {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;

  text-transform: uppercase;

  color: #8c8c8c;
  margin-right: 9px;
  background-color: transparent;
  border: 0;
  transition: color 250ms linear;
}

.registration-menu-logBtn {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;

  text-transform: uppercase;

  color: #8c8c8c;
  background-color: transparent;
  border: 0;
  transition: color 250ms linear;
}

//-------------------------header------------------------------

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    display: flex;
    width: 704px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    width: 1216px;
  }
}

.header-logo {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &:focus {
    outline: none;
  }
}

.header-logo-text {
  display: none;
  @media screen and (min-width: 768px) {
    left: 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
    margin-left: 10px;
  }
  @media screen and (min-width: 1280px) {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
  }
}

.header-menu {
  display: flex;
  gap: 10px;
  @media screen and (min-width: 320px) {
    gap: 40px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
  }
}

.menu-list-name {
  // position: fixed;
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  letter-spacing: normal;

  // transition: background-color 2500ms linear;
  // transition-duration: 2500ms;
  // transition-timing-function: 2500ms;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
  }
}

//--------------------------- 1
// .header-menu-list {
// transition: background-color 2500ms linear;
// }

.menu-list-name:hover::before,
.menu-list-name:focus::before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: #ff001b;
  bottom: -4px;
  transition: border-bottom 2500ms linear;
  transition-duration: 2500ms;
  transition-timing-function: 2500ms;
}

//--------------------------search-------------------

.blockHome-search-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blockHome {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blockHome-search {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 57px;

  @media screen and (min-width: 320px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 61px;
    width: 394px;
  }
}
.search {
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
  }
}
.header-search {
  background-color: transparent;

  border-width: 0;
  border-bottom: 0.5px solid #ffffff;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  color: #ffffff;
  &:focus {
    outline: none;
  }

  @media screen and (min-width: 320px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    width: 336px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;

    color: #ffffff;
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;

    color: #ffffff;
  }
}
.header-search::placeholder {
  color: inherit;
}
.header-search-img {
  padding: 0;
  width: 12px;
  height: 12px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
  }
}

.header-search-btn {
  position: absolute;
  border: 0;
  background-color: transparent;
  right: 0%;
  bottom: 0%;
  @media screen and (min-width: 320px) {
    right: 0%;
    bottom: 0%;
  }
  @media screen and (min-width: 768px) {
    right: 0%;
    bottom: 0%;
  }
  @media screen and (min-width: 1280px) {
    right: 0%;
    bottom: 0%;
  }
}

.header-search-resultNotSuccess {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;

  color: #ff001b;
  margin-top: 16px;
  @media screen and (min-width: 768px) {
    display: flex;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    align-items: center;
    text-align: center;

    margin-top: 20px;

    color: #ff001b;

    top: 172px;
    overflow: visible;

    letter-spacing: normal;
  }
  @media screen and (min-width: 1280px) {
    letter-spacing: normal;

    top: 172px;
  }
}

.registration-menu-sing {
  display: none;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
  }
}
.registration-menu-log {
  display: none;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
  }
}

.headerBtn {
  display: block;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
  }
}
.btn-container {
  background-color: #fff;
}
// .headerBtn {
// }

//------------------------------decor-my-library-----------------------

.decor-my-library {
  padding: 40px 20px 60px 20px;
  background-image: url('../images/headerImg/Rectangle-320-1-1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-resolution: 2dppx) {
    .decor {
      background-image: url('../images/headerImg/Rectangle-320-1-2x.jpg');
    }
  }

  @media screen and (min-width: 768px) {
    padding: 40px 32px 71px 32px;
    background-image: url('../images/headerImg/Rectangle-768-1-1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-resolution: 2dppx) {
      .decor {
        background-image: url('../images/headerImg/Rectangle768-1-2x.jpg');
      }
    }
  }
  @media screen and (min-width: 1280px) {
    padding: 40px 32px 71px 32px;
    background-image: url('../images/headerImg/Rectangle-1280-1-1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-resolution: 2dppx) {
      .decor {
        background-image: url('../images/headerImg/Rectangle-1280-1-2x.jpg');
      }
    }
  }
}
//-----------------------btn my library----------------------
.btn-container-selector {
  display: flex;
  gap: 32px;
  margin: 0 auto;
  justify-content: center;
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
  @media screen and (min-width: 1280px) {
  }
}
.headerBtn {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  width: 129.53px;
  height: 44px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;

  transition: background-color 250ms linear, border-color 250ms linear;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
  }
}

.headerBtn:hover,
.headerBtn:focus {
  border: 1px solid #ff6b01;
  background: #ff6b01;
  border-radius: 5px;
}
