.decor {
  background-color: gray;
  width: 320;
  margin: auto;
  padding: 40px 20px 92px 20px;
}

.header {
  margin: auto;
}
// .header-container {
//   width: 320px;
//   padding: 40px 20px 92px 20px;
// }
.header-nav {
  display: flex;
  align-items: center;
  margin-top: 0px;
  width: 280px;
}
.header-logo {
  width: 24px;
  height: 24px;
  // background: #fff;
  background: black;
  margin-right: 112px;
}
.header-logo-text {
  display: none;
}
.header-menu {
  display: flex;
  gap: 40px;
}
// .header-menu-list {
//   border-width: 0;
// }
.menu-list-name {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  // color: #ffffff;
  color: black;
  letter-spacing: normal;
}

// .menu-list-name:hover,
// .menu-list-name:focus,
// .menu-list-name:visited {
//   border-bottom: 1px solid var(--orange);
//   text-decoration: none;
//   color: rgb(255, 255, 255);
// }

// .js-home-btn {

// }
// .js-my-library-btn {

// }
.blockHome {
  display: flex;
  margin-top: 60px;
}

//_______________________search-------------------
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 340px;
  margin: auto;
  position: relative;
  // background-color: transparent;
}
.header-search {
  background-color: transparent;

  border-width: 0;
  // border-bottom: 0.5px solid #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  width: 280px;
  // border-color: black;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.header-search::placeholder {
  color: black;
  // color: inherit;
}
.header-search-img {
  position: absolute;
  right: 1.5;
  bottom: 6;
  // background-color: white;
  background-color: black;
  width: 12px;
  height: 12px;
}
.header-search-resultNotSuccess {
  display: none;
}
// .visibleFlag {
// }
// .header-registration-menu {
// }
.registration-menu-sing {
  display: none;
}
.registration-menu-log {
  display: none;
}
// .library-container {
// }
// .blockBtn {
// }
// .hideBtn {
// }
// .btn-container {
// }
.headerBtn {
  display: none;
}
