.library_bg {
    background-color: var(--backgraund-color-dark);
    max-width: 1280px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    // @media screen and (max-width: 767px) {
    //     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
    //             rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg_sm.jpg);

    //     @media (min-device-pixel-ratio: 2),
    //     (-webkit-min-device-pixel-ratio: 2),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {
    //         background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
    //                 rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg_sm@2x.jpg);
    //     }
    // }

    @media screen and (max-width: 767px) {
        max-width: 320px;
        height: 236px;
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url(./../images/libraryImg/my_library_bg_sm.jpg);
        
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)), url(./../images/libraryImg/my_library_bg_sm@2x.jpg);
            }
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
        height: 801px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(./../images/libraryImg/my_library_bg_md.jpg);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url(./../images/libraryImg/my_library_bg_md@2x.jpg);
        }
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
        height: 733px;
        // padding-top: 200px;
        // padding-bottom: 200px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(./../images/libraryImg/my_library_bg_lg.jpg);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url(./../images/libraryImg/my_library_bg_lg@2x.jpg);
        }
    }

}