/* стили для рейтинга */
.movie-rating {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.rating-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.rating-number {
  font-size: 24px;
  font-weight: bold;
}

.rating-stars {
  display: flex;
}

.rating-star {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid #9c8c14;
  background-color: transparent;
}

.rating-star.full {
  background-color: #ffdd00;
  /* border-color: transparent; */
}

.rating-stars-container {
  display: flex;
  align-items: center;
}

/* стили для экранов с шириной до 320px */
@media only screen and (max-width: 320px) {
  .rating-stars-container {
    margin-left: 0;
  }
  .movie-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 20px; */
  }
  .modal-content {
    margin: 0 auto;
    width: 90%;
    max-width: none;
  }
  .close-btn {
    font-size: 24px;
  }
  .rating-stars {
    flex-wrap: wrap;
  }
}

/* стили для экранов с шириной от 321px до 768px */
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .modal-content {
    margin: 10% auto;
    width: 70%;
    max-width: none;
  }
  .close-btn {
    font-size: 28px;
  }
}

/* стили для экранов с шириной от 769px до 1280px */
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .modal-content {
    margin: 15% auto;
    width: 60%;
    max-width: 600px;
  }
  .close-btn {
    font-size: 32px;
  }
}

/* стили для экранов с шириной более 1280px */
@media only screen and (min-width: 1281px) {
  .modal-content {
    margin: 15% auto;
    width: 80%;
    max-width: 600px;
  }
  .close-btn {
    font-size: 32px;
  }
}