.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.team-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.2);
  /* transition-property: visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.team-modal {
  position: relative;
  top: 50%;
  transform: translatey(33%);

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  padding: 40px;
  margin: 0 auto;

  background: rgba(229, 229, 229, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  /* @media screen and (min-width: $tablet) {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
  }
    @media screen and (min-width: $desktop) {
    max-width: 1120px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  } */
}

.team-modal__button {
  position: absolute;

  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: transparent;
  background-color: transparent;
  /* transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.team-modal__close:hover,
.team-modal__close:focus {
  color: #ff001b;
}

.team-modal__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 145px;
  height: 27px;
  margin-bottom: 22px;
}

.team-modal__list {
  margin: 0px;
}

.team-modal__card {
  position: relative;
  list-style-type: none;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 228px;
  padding: 32px;

  /* @media screen and (min-width: $tablet) {
    max-width: 700px;
    margin-top: 0px;
    flex-basis: calc((100% - 120px) / 3);
  }
  @media screen and (min-width: $desktop) {
    max-width: 1120px;
    flex-basis: calc((100% - 120px) / 4); */
}

.team-modal__card:not(:last-child) {
  margin: 0px 0px 29px 0px;
}

.team-modal__photo {
  text-align: center;
}

.team-modal__member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.team-modal__name {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #000000;
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.team-modal__position {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.team-modal__contacts {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 32px;
  bottom: 32px;
  gap: 10px;
  color: #000000;
  /* &:hover,
  &:focus {
    border-color: #ff001b;
  } */
}

/* .team-modal__icon:hover,
.team-modal__icon:focus {
  color: 2px solid #ff001b;
} */
